.logout-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.modal-content {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  gap: 0;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.modal-close-btn {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-subtitle {
  margin: 10px 0 20px;
}

.modal-signin {
  color: #f26522;
  cursor: pointer;
  font-weight: bold;
}

.signup-form .form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.signup-form .form-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: -8px;
  margin-bottom: 10px;
}

.modal-submit {
  width: 100%;
  padding: 12px;
  background-color: #f26522;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.otp-combined {
  display: flex;
  gap: 11px;
  flex: 1.1;
  position: relative; 
}

.get-otp-btn {
  position: absolute;
  top: 0.2px; 
  right: 0;   
  width: 100px;
  height: 46px;
  padding: 9px;
  background-color: #f26522;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1; 
}


.checkbox-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
