.sponsor-button {
    padding: 1.25rem 4rem;
    max-width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #f97316; /* Tailwind's orange-500 */
    border-radius: 0.75rem;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    width: 400px;
  }
  
  .sponsor-button:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .sponsor-button {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
  
  .sponsor-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background-color: white;
    overflow: hidden;
  }
  
  .sponsor-title {
    margin-top: 11rem;
    padding: 0.625rem;
    font-size: 42px;
    font-weight: 600;
    color: #27272a; /* Tailwind's zinc-800 */
    letter-spacing: 2.1px;
    white-space: nowrap;
    text-align: center;
  }
  
  @media (max-width: 768px) {

    .sponsor-title {
      margin-top: 2.5rem;
      font-size: 32px;
    }
  }
  
  .sponsor-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    /* padding-top: 2.25rem; */
    /* padding-bottom: 0.125rem; */
    width: 100%;
    max-width: 1000px;
    min-height: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 59px;
    overflow: hidden;
  }
  
  @media (max-width: 480px) {
    .designs-element {
        position: relative;
        top: rem;
        right: -7.2rem;
        height: 35px;
        width: auto;
      }
    .sponsor-container {
      max-width: 90%;
      margin-top: 2rem;
    }
    .sponsor-title {
        margin-top: 10rem;
      }
      
  }
  
  .sponsor-background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 59px; /* ✅ Fix to show rounded corners */
  }
  
  .sponsor-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    width: 100%;
    height: 100%;
  }
  
  .sponsor-footer {
    position: relative;
    padding: 0 1.75rem;
    margin-top: 2.25rem;
    width: 100%;
  }


  .sponsor-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .designs-element {
    position: relative;
    top: 13rem;
    right: -7.2rem;
    height: 35px;
    width: auto;
  }
  
  
  
  @media (max-width: 480px) {
    .designs-element {
      position: relative;
      top: 11.5rem; /* adjust as needed */
      right: -6rem; /* adjust for better positioning */
      height: 30px;
      width: auto;
    }
}


  